body {
  background-color: lightblue;
}

#cabecalho {
  width: 100%;
  margin-right: 50%;
  text-align: center;
}

#rodape {
  width: 100%;
  margin-right: 50%;
  text-align: center;
}

.parallax {
  background-image: url("/img/nasahubble.jpg");

  min-height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
