body {
  margin: 0px;
  background-color: blue;
  height: 2000px;
}

#cabecalho {
  width: 100%;
  margin-right: 50%;
  text-align: center;
}

#rodape {
  width: 100%;
  margin-right: 50%;
  text-align: center;
}

.teste {
  height: 1000px;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: black;
}

a:active {
  color: black;
}
